<div class="section index-banner">
  <div class="container">
    <div class="row">
      <div class="col s8">
        <h1 class="header">TShirt Request</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s8">
      <div class="section row">
        <h4>Thanks! Your TShirt is on its way.</h4>
      </div>
    </div>
  </div>
</div>
